backcall==0.2.0
bokeh==2.0.0
brotlipy==0.7.0
certifi==2020.12.5
cffi 
chardet  
cryptography  
decorator==4.4.2
idna  
jedi==0.17.2
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.7
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pyarrow==2.0.0
pycosat==0.6.3
pycparser  
Pygments==2.7.3
pyOpenSSL  
pyparsing==2.4.7
PySocks  
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests  
ruamel-yaml==0.15.87
six  
tornado==6.1
tqdm  
typing-extensions==3.7.4.3
urllib3  
wcwidth==0.2.5
